# Compiled Java class files
*.class

# Build output
/out/
/users.csv

# IntelliJ IDEA project files (keep shared settings, ignore user settings)
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.xml
.idea/vcs.xml
.idea/gradle.xml
.idea/misc.xml
.idea/assetWizardSettings.xml

users.csv